@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


:root{
  --color-orange:linear-gradient(45deg, #fa2424,#ed7e1e);
  --color-white:#ffffff;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0/10%);
}

section{
  padding: 2rem 6%;
}
header{
  background: var(--color-white);
  z-index: 1 !important;
  position: sticky;
  box-shadow:rgb(49, 49, 49);
}

header .navbar-brand{
  padding: 0rem 0rem 0rem 4rem;
}

header .nav-item:last-child{
  padding-right: 10rem;
}

header .nav-item{
  padding: 0.7rem;
}

header .nav-item a{
  color: rgb(6, 0, 56) !important;
  font-size: 1.1rem;
  font-weight: 600;
}

header img{
  width: 200px;
}
header .nav-item a:hover{
  color: #ec4f01 !important;
}

.btn-1{
  font-size: 1rem ;
  font-weight: 600;
  padding: 0.8rem 2rem;
	background: -webkit-linear-gradient(45deg,#ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.btn-1:hover{
	background: -webkit-linear-gradient(45deg,#ff8000, #ff0000);
}
.btn-2:hover{
	background: #03003f;
  -webkit-text-fill-color: #ffffff;
}

.btn-2{
  font-size: 1rem ;
  font-weight: 600;
  padding: 0.8rem 2rem;
	background: transparent;
  -webkit-text-fill-color: #03003f;
  border-color: #03003f;
  border-radius: 5px;
}

.home-section .row h2 #underline{
  color: #ed4f00 !important;
}

.home-btn{
  display: flex;
  flex-direction: row;
}

.home-btn .btn-1{
  margin-right: 1rem;
}

.home-section .row .col-md-6{
  padding: 8rem 1rem 0rem;
}

.home-section .row h2{
  font-size: 5rem;
  font-weight: bold;
  color: #040052;
}

.home-section .row p{
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0rem;
  color: #5e5e5e;
}

.home-section .row img{
  width: 100%;
}

